#bg-img {
	background-image: url("https://img.freepik.com/premium-vector/global-network-connection-world-map-point-line-composition-concept-global-business-vector-illustration_41981-1724.jpg?w=996");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
